DEBUG=
SECRET_KEY=
DATABASE_URL=
STATIC_URL=
STATIC_ROOT=
MEDIA_URL=
MEDIA_ROOT=
CLIENT_ID_VK=
SECRET_KEY_VK=
REDIS_HOST=
REDIS_PORT=
VISIBILITY_TIMEOUT=
TIME_BEFORE_DELETE=
TIME_BEFORE_REJECT=
TIME_BEFORE_DELETE_REJECTED_PHOTO=
LOG_LEVEL=
LOG_FILE_NAME=
LOG_FORMAT=
LOG_DATETIME_FORMAT=
