[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-imagekit = "*"
djangorestframework = "==3.13"
django-split-settings = "*"
django-environ = "*"
django-service-objects = {git = "git+https://git.snpdev.ru/saltpepper/django-service-objects.git"}
django-widget-tweaks = "*"
django-fsm = "*"
celery = "*"
redis = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
psycopg2-binary = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
drf-yasg = {extras = ["validation"], version = "*"}
django = "==4.1"

[dev-packages]

[requires]
python_version = "3.10"
