{% extends 'base.html' %}

{% block content %}

<h1>Все фотографии</h1>

<div class="container-fluid text-center">
		<div class="row row-cols-4 gy-4">

			{% for p in object_list %}

			<div class="col">

				<div class="card" style="width: 18rem;border-color: #ffffff;">

					<p class="card-title">{{p.title}}<br/> <small> {{p.author}} </small></p>

					<p><img src="{{p.image.url}}" class="card-img-top rounded"></p>

				 	<p class="card-text">{{p.description}} <br/> {{p.pub_date}} </p>

				 	<p>
				 		<button type="button" class="btn btn-primary">
				 			Проголосовать <span class="badge text-bg-secondary"> голоса</span>
				 		</button>
				 		
				 	</p>

				</div>
			</div>

			{% endfor %}
		</div>
	
			
</div>

{% endblock %}
