{% extends 'photo_app/base.html' %}


{% block content %}

<div class="container-fluid">
	<div class="d-flex justify-content-between">
		<div class="p-6"><h1 class="">Галерея</h1></div>
		<div class="p-3">
			<button class="btn btn-secondary btn-sm dropdown-toggle align-text-top" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #028E9B;">
	    Отсортировать
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" value="DateOld" href="#">По дате (старые) </a></li>
			    <li><a class="dropdown-item" value="DateNew" href="#">По дате (новые)</a></li>
			    <li><a class="dropdown-item" value="Voices" href="#">По голосам (популярные)</a></li>
			    <li><a class="dropdown-item" value="VoicesRev" href="#">По голосам (непопулярные)</a></li>
			    <li><a class="dropdown-item" value="Comments" href="#">По комментариям (популярные)</a></li>
			    <li><a class="dropdown-item" value="CommentsRev" href="#">По комментариям (непопулярные)</a></li>
			</ul>

	  </div>
	</div>

</div>



<section>

<div class="container-fluid text-center">
	<div class="row row-cols-4 gy-4" id="cardplace">
		{% for p in page_obj %}

		<div class="col-md-3">

			<div class="card" style="width: 18rem; border-color: #E5E5E5;">
				<img src="{{p.photo_small.url}}" class="card-img-top rounded" alt="..." title="{{p.description|capfirst}}">

				<div class="card-body">

					<h5 class="card-title"><a class="link-offset-2 link-underline link-underline-opacity-0 text-dark bg-white" href="photo/{{p.id}}">{{p.title|capfirst}}</a></h5>

					<ul class="list-group list-group-flush">
						<li class="list-group-item" style="border-color: #E5E5E5;" id = "firstli">
							{% if p.author %}
							<p class="card-text" id = "firstpli"><small>{{p.author}}</small></p>
							{% else %}
							<p class="card-text"><small> Автор неизвестен </small></p>
							{% endif %}
						</li>
						<li class="list-group-item" id="secondli">
							<p class="card-text" id="secondpli"><small>{{p.pub_date|date:"j.m.Y"}} {{p.pub_date|time:"H:i"}}</small></p>
						</li>
					</ul>
					<div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
                            <div class="row g-0 justify-content-center">
                                <div class="col-6 col-md-4">
                                    <button type="button" class="btn btn-outline-light" style="background-color: #028E9B;">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-square-heart" viewBox="0 0 16 16">
										<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
					 					<path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
					 				</svg>
					 				<span class="badge text-light" style="background-color: #028E9B;" id="voices">{{p.voices.all.count}}</span>
				 				</button>
                                </div>
                                <div class="col-6 col-md-4">
                                    <button type="button" class="btn btn-outline-light" style="background-color: #028E9B;">

						 			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
						 				<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
						 				<path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
						 			</svg>
						 			<span class="badge text-light" style="background-color: #028E9B;" id="comments">{{p.comments.all.count}}</span>
						 		</button>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>

				
			</div>
		</div>

		{% empty %}
		<h2>К сожалению не найдено ни одного фото:(</h2>
		{% endfor %}

		

	</div>
	<nav class="mt-4">
		<ul class="pagination justify-content-center">

			{% if page_obj.has_previous %}
			<li class="page-item">
			    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
			</li>
			{% endif %}

			{% for p in page_obj.paginator.page_range %}
			{% if page_obj.number == p %}
			<li class="page-item disabled"><a class="page-link" href="#">{{ p }}</a></li>
			{% else %}
			<li class="page-item">
			    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
			</li>
			{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
			<li class="page-item">
			    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
			</li>
			{% endif %}
		</ul>
	</nav>
			
</div>



</section>

{% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$("a.dropdown-item").click(function(){
			$.ajax({
				url: '',
				method: 'get',
				dataType: 'json',
                data: {orderby: this.attributes.value.textContent},
			    success: function(data){
			    	console.log(data);
                    let posts = data["posts"];
                    let ind = 0;
                    let ar_len = posts.length;
                    let element = document.getElementById("cardplace");
                    let list = element.querySelectorAll(".col-md-3");
                    while (ind <= ar_len) {
                    	for (const l of list) {
                    		const newsrc = posts[ind]["photo_small"];
                    		l.getElementsByClassName("card-img-top rounded")[0].removeAttribute("src");
                    		l.getElementsByClassName("card-img-top rounded")[0].setAttribute("src", newsrc);

                    		l.getElementsByClassName("card-img-top rounded")[0].removeAttribute("title");
                    		const title_element = l.getElementsByClassName("link-offset-2 link-underline link-underline-opacity-0 text-dark bg-white")[0];
                    		title_element.innerText="";
                    		title_element.insertAdjacentText("afterbegin", posts[ind]["title"]);

                    		const desc = posts[ind]["description"];
                    		l.getElementsByClassName("card-img-top rounded")[0].setAttribute("title", desc);

                    		l.getElementsByClassName(
                    			"link-offset-2 link-underline link-underline-opacity-0 text-dark bg-white")[0].removeAttribute("href");
                    		const newhref = "photo/" + posts[ind]["id"];
                    		l.getElementsByClassName(
                    			"link-offset-2 link-underline link-underline-opacity-0 text-dark bg-white")[0].setAttribute("href", newhref);


                    		l.getElementsByClassName("list-group-item")[0].remove();
                    		l.getElementsByClassName("list-group-item")[0].remove();
                    		const ul_element = l.getElementsByClassName("list-group list-group-flush")[0];
                    		const html1 = '<li class="list-group-item" style="border-color: #E5E5E5;" id = "firstli"><p class="card-text"><small class = "first_sm"></small></p></li>';
                    		ul_element.insertAdjacentHTML("afterbegin", html1);
                    		ul_element.querySelector(".first_sm").insertAdjacentText("afterbegin", posts[ind]["author"]["email"]);

                    		const html2 = '<li class="list-group-item" id="secondli"><p class="card-text"><small class = "second_sm"></small></p></li>';
                    		ul_element.insertAdjacentHTML("beforeend", html2);
                    		dt = new Date(Date.parse(posts[ind]["pub_date"]));
                    		if ((dt.getMonth() + 1).length == 1) { 
                    			dt_month = "0" + (dt.getMonth() + 1);} else {
                    				dt_month = dt.getMonth() + 1 ;
                    			}
                            fulldt = dt.getHours() + ':' + dt.getMinutes() + '\n' + dt.getDate() + '.' + dt_month + '\n' + dt.getFullYear();
                            ul_element.querySelector(".second_sm").insertAdjacentText("afterbegin", fulldt);
                    		
                    		const span_voices = l.getElementsByClassName("badge text-light")[0];
                    		span_voices.innerText = "";
                    		span_voices.insertAdjacentText("afterbegin", posts[ind]["voices"]);
                    		const span_comments = l.getElementsByClassName("badge text-light")[1];
                    		span_comments.innerText = "";
                    		span_comments.insertAdjacentText("afterbegin", posts[ind]["comments"]);
                    		
							++ind;	
                    	}
                    }
				}
			});
		});
	});


	

</script>

{% endblock javascript %}
{% endblock %}
