{% extends 'photo_app/base_list.html' %}

{% block over_the_content %}

<div>
	
</div>
<div class="position-relative">
	<h1>Заголовок страницы со списком фото</h1>
	
	<form action="{% url 'home' %}" method="get" id="sortByDateOld">
   		<input type="hidden" name="orderby" value="DateOld" />
	</form>
	<form action="{% url 'home' %}" method="get" id="sortByDateNew">
    	<input type="hidden" name="orderby" value="DateNew"/>
	</form>
	<form action="{% url 'home' %}" method="get" id="sortByVoices">
    	<input type="hidden" name="orderby" value="Voices"/>
	</form>
	<form action="{% url 'home' %}" method="get" id="sortByVoicesRev">
    	<input type="hidden" name="orderby" value="VoicesRev"/>
	</form>
	<form action="{% url 'home' %}" method="get" id="sortByComments">
    	<input type="hidden" name="orderby" value="Comments"/>
	</form>
	<form action="{% url 'home' %}" method="get" id="sortByCommentsRev">
    	<input type="hidden" name="orderby" value="CommentsRev"/>
	</form>
	

		
	  <button class="btn btn-secondary btn-sm dropdown-toggle position-absolute top-0 end-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	    Отсортировать
	  </button>
	  <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="#" onclick="document.getElementById('sortByDateOld').submit();">По дате (старые) </a></li>
	    <li><a class="dropdown-item" href="#" onclick="document.getElementById('sortByDateNew').submit();">По дате (новые)</a></li>
	    <li><a class="dropdown-item" href="#" onclick="document.getElementById('sortByVoices').submit();">По голосам (популярные)</a></li>
	    <li><a class="dropdown-item" href="#" onclick="document.getElementById('sortByVoicesRev').submit();">По голосам (непопулярные)</a></li>
	    <li><a class="dropdown-item" href="#" onclick="document.getElementById('sortByComments').submit();">По комментариям (непопулярные)</a></li>
	    <li><a class="dropdown-item" href="#" onclick="document.getElementById('sortByCommentsRev').submit();">По комментариям (непопулярные)</a></li>
	  </ul>
	</div>
</div>



{% endblock %}
