{% extends 'photo_app/base.html' %}

{% block content %}

<div class="container-fluid my-4">
	<div class="card mx-5 overflow-auto border-white mb-3">
		<form action="" method="post" enctype="multipart/form-data" class="container">
			{% csrf_token %}
			<div class="row mb-3">
				<div class="col-sm-4 ">

					<label for="exampleFormControlInput1" class="form-label">Название</label>
					<input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Название фото">

				</div>
			</div>

			<div class="row mb-3">
				<div class="col-sm-6">

				  	<label for="exampleFormControlTextarea1" class="form-label">Описание</label>
				  	<textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="Расскажите о вашем фото"></textarea>

				</div>
			</div>

			<div class="row mb-3">
				<div class="col-sm-4">

				  	<label for="formFile" class="form-label">Загрузите фото</label>
				  	<input name="image" class="form-control" type="file" id="formFile">

				</div>
			</div>

					
			<div class="row mb-3">
				<div class="col-sm-2">
					<button class="btn btn-outline-light" style="background-color: #028E9B;">
					Сохранить</button>
				</div>
			</div>
					
		</form>
		
	</div>
</div>
{% endblock %}