{% extends 'photo_app/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid my-4">
	<div class="card mx-5 overflow-auto border-white mb-3">
		<form action="" method="post" enctype="multipart/form-data" class="container">
			{% csrf_token %}
			<div class="row mb-3">
				<div class="col-sm-4 ">
					<label for="exampleFormControlInput1" class="form-label">Автор</label>
					<input type="hidden" name="author" class="form-control" value="{{ user }}">
					<input disabled class="form-control" placeholder="{{ user }}">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-sm-4 ">
					<label class="form-label">Название</label>
					{{form.title}}
				</div>
			</div>

			<div class="row mb-3">
				<label class="form-label">Описание</label>
				<div class="col-sm-6">
				  	{{form.description}}
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-sm-4">

				  	<label for="formFile" class="form-label">Загрузите фото</label>
				  	<input name="image" class="form-control" type="file" id="formFile">

				</div>
			</div>

					
			<div class="row mb-3">
				<div class="col-sm-2">
					<button class="btn btn-outline-light" style="background-color: #028E9B;">
					Сохранить</button>
				</div>
			</div>
					
		</form>
		
	</div>
</div>
{% else %}
<h4>Только авторизованные пользователи могут добавлять фото. Пожалуйста, авторизуйтесь! :)</h4>
{% endif %}
{% endblock %}