body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* Опционально */
main {
  margin: 0 auto;
  /* или: align-self: center */
  max-width: 80ch;
}