{% extends 'photo_app/base.html' %}

{% load account socialaccount %}


{% block content %}
<h1>Вход</h1>

<p>Уже есть аккаунт?<a href="{{ login_url }}">Войти в аккаунт</a></p>

<form action="{% url 'account_signup' %}" method="post">
	{% csrf_token %}
	<div class="col-md-6">
	    <label for="inputEmail" class="form-label">Эл. адрес</label>
	    <input required autocomplete="on" type="email" class="form-control" id="inputEmail">
	</div>
	<div class="col-md-6">
	    <label for="inputPassword" class="form-label">Пароль</label>
	    <input required autocomplete="on" type="password" class="form-control" id="inputPassword4">
	</div>

	<button type="submit">Войти</button>
</form>



{% endblock %}